.maindisplay {
  background: rgb(134, 216, 243);
  height: calc(100% / 3);
  padding: 5% !important;
  font-size: 4rem;
  text-align: right;
  font-family: Courier, monospace;
  overflow: auto;
}
.subdisplay {
  border-bottom: 1px solid black;
  height: 25%;
  font-size: 2rem;
  overflow: auto;
}
.keypad {
  height: calc(200% / 4);
}
.keys {
  font-family: Roboto;
  margin: 5px 1px 5px 1px;
  border-color:cornflowerblue;
  border-radius: 25px;
  border-style: solid;
  width: 20%;
  height: 20%;
  background: whitesmoke;
  color: black;
  padding: 1.2%;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
.one-line {
  display: inline-block;
}
